//
// type.scss
// Extended from Bootstrap
//

//
// Bootstrap Overrides =====================================
//

h1,
.h1 {
  margin-bottom: $headings-margin-bottom;
  font-size: 1.5rem;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2,
.h2 {
  margin-bottom: $headings-margin-bottom;
}

h3,
.h3 {
  margin-bottom: ($headings-margin-bottom * 0.75);
}

h4,
.h4 {
  margin-bottom: ($headings-margin-bottom * 0.5);
}

h5,
.h5 {
  margin-bottom: ($headings-margin-bottom * 0.5);
}

h6,
.h6 {
  margin-bottom: ($headings-margin-bottom * 0.5);
}

// Links

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  > a {
    color: inherit;
  }
}

// Type display classes

.display-1,
.display-2,
.display-3,
.display-4 {
  letter-spacing: $display-letter-spacing;
}

// Headings

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  letter-spacing: $headings-letter-spacing;
}

h6.text-uppercase {
  letter-spacing: 0.08em;
}

// Bold, strong

b,
strong {
  font-weight: $font-weight-bold;
}

// Links, buttons
//
// Removes focus outline

a,
button {
  &:focus {
    outline: none !important;
  }
}

.serif {
  font-family: $font-family-serif;
}

// Include SVN-Gotham

@font-face {
  font-family: "SVN-Gotham";
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.eot");
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.eot?#iefix") format("embedded-opentype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.woff2") format("woff2"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.woff") format("woff"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.ttf") format("truetype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBook.svg#SVN-GothamBook") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.eot");
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.eot?#iefix") format("embedded-opentype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.woff2") format("woff2"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.woff") format("woff"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.ttf") format("truetype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamMedium.svg#SVN-GothamMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gotham";
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.eot");
  src: url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.eot?#iefix") format("embedded-opentype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.woff2") format("woff2"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.woff") format("woff"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.ttf") format("truetype"),
    url("#{$path-to-fonts}/SVN-Gotham/SVN-GothamBold.svg#SVN-GothamBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Include SFU-Toledo

@font-face {
  font-family: "SFU-Toledo";
  src: url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.eot");
  src: url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.eot?#iefix") format("embedded-opentype"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.woff2") format("woff2"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.woff") format("woff"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.ttf") format("truetype"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoBold.svg#SFUToledoBold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFU-Toledo";
  src: url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.eot");
  src: url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.eot?#iefix") format("embedded-opentype"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.woff2") format("woff2"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.woff") format("woff"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.ttf") format("truetype"),
    url("#{$path-to-fonts}/SFUToledo/SFUToledoMedium.svg#SFUToledoMedium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
