<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc." />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Libs CSS -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/feather/feather.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/flatpickr/dist/flatpickr.min.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css" />
<link rel="stylesheet" href="@@webRoot/node_modules/highlightjs/styles/vs2015.css" />

<!-- Map -->
<link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />

<!-- Theme CSS -->
@@if (colorScheme=="light") {
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" id="stylesheetLight" />
<!-- endbuild -->
} @@if (colorScheme=="dark") {
<!-- build:css @@webRoot/assets/css/theme-dark.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme-dark.css" id="stylesheetDark" />
<!-- endbuild -->

<style>
    body {
        display: none;
    }
</style>
}
<!-- Title -->
<title>@@title</title>