<div class="modal fade" id="modalShoppingBag" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
                08_ PRODUCT_SHOPPING BAG
                <!-- Form -->
                <form class="mb-4">
                    <div class="input-group input-group-merge input-group-rounded">

                        <!-- Input -->
                        <input type="search" class="form-control form-control-prepended search" placeholder="Search">

                        <!-- Prepend -->
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <span class="fe fe-search"></span>
                            </div>
                        </div>

                    </div>
                </form>

                <!-- List group -->
                <div class="my-n3">
                    <div class="list-group list-group-flush list">
                        <a class="list-group-item" href="@@webRoot/team-overview.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img src="@@webRoot/assets/img/avatars/teams/team-logo-1.jpg" alt="..."
                                            class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Airbnb
                                    </h4>

                                    <!-- Time -->
                                    <p class="small text-muted mb-0">
                                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 2hr
                                            ago</time>
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/team-overview.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img src="@@webRoot/assets/img/avatars/teams/team-logo-2.jpg" alt="..."
                                            class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Medium Corporation
                                    </h4>

                                    <!-- Time -->
                                    <p class="small text-muted mb-0">
                                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 2hr
                                            ago</time>
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/project-overview.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="@@webRoot/assets/img/avatars/projects/project-1.jpg" alt="..."
                                            class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Homepage Redesign
                                    </h4>

                                    <!-- Time -->
                                    <p class="small text-muted mb-0">
                                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr
                                            ago</time>
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/project-overview.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="@@webRoot/assets/img/avatars/projects/project-2.jpg" alt="..."
                                            class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Travels & Time
                                    </h4>

                                    <!-- Time -->
                                    <p class="small text-muted mb-0">
                                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr
                                            ago</time>
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/project-overview.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar avatar-4by3">
                                        <img src="@@webRoot/assets/img/avatars/projects/project-3.jpg" alt="..."
                                            class="avatar-img rounded">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Safari Exploration
                                    </h4>

                                    <!-- Time -->
                                    <p class="small text-muted mb-0">
                                        <span class="fe fe-clock"></span> <time datetime="2018-05-24">Updated 4hr
                                            ago</time>
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/profile-posts.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img src="@@webRoot/assets/img/avatars/profiles/avatar-1.jpg" alt="..."
                                            class="avatar-img rounded-circle">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Dianna Smiley
                                    </h4>

                                    <!-- Status -->
                                    <p class="text-body small mb-0">
                                        <span class="text-success">●</span> Online
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                        <a class="list-group-item" href="@@webRoot/profile-posts.html">
                            <div class="row align-items-center">
                                <div class="col-auto">

                                    <!-- Avatar -->
                                    <div class="avatar">
                                        <img src="@@webRoot/assets/img/avatars/profiles/avatar-2.jpg" alt="..."
                                            class="avatar-img rounded-circle">
                                    </div>

                                </div>
                                <div class="col ml-n2">

                                    <!-- Title -->
                                    <h4 class="text-body mb-1 name">
                                        Ab Hadley
                                    </h4>

                                    <!-- Status -->
                                    <p class="text-body small mb-0">
                                        <span class="text-danger">●</span> Offline
                                    </p>

                                </div>
                            </div> <!-- / .row -->
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>