<!-- Libs JS -->
<script src="@@webRoot/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@webRoot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="@@webRoot/node_modules/@shopify/draggable/lib/es5/draggable.bundle.legacy.js"></script>
<script src="@@webRoot/node_modules/autosize/dist/autosize.min.js"></script>
<script src="@@webRoot/node_modules/chart.js/dist/Chart.min.js"></script>
<script src="@@webRoot/node_modules/dropzone/dist/min/dropzone.min.js"></script>
<script src="@@webRoot/node_modules/flatpickr/dist/flatpickr.min.js"></script>
<script src="@@webRoot/node_modules/highlightjs/highlight.pack.min.js"></script>
<script src="@@webRoot/node_modules/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="@@webRoot/node_modules/list.js/dist/list.min.js"></script>
<script src="@@webRoot/node_modules/quill/dist/quill.min.js"></script>
<script src="@@webRoot/node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="@@webRoot/node_modules/keen-slider/keen-slider.js"></script>
<script src="@@webRoot/assets/libs/chart.js/Chart.extension.js"></script>

<!-- Map -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/polyfills.js"></script>
<script src="@@webRoot/assets/js/charts.js"></script>
<script src="@@webRoot/assets/js/autosize.js"></script>
<!-- <script src="@@webRoot/assets/js/dashkit.js"></script> -->
<script src="@@webRoot/assets/js/dropdowns.js"></script>
<script src="@@webRoot/assets/js/dropzone.js"></script>
<script src="@@webRoot/assets/js/flatpickr.js"></script>
<script src="@@webRoot/assets/js/highlight.js"></script>
<script src="@@webRoot/assets/js/kanban.js"></script>
<script src="@@webRoot/assets/js/list.js"></script>
<script src="@@webRoot/assets/js/map.js"></script>
<script src="@@webRoot/assets/js/navbar.js"></script>
<script src="@@webRoot/assets/js/popover.js"></script>
<script src="@@webRoot/assets/js/quill.js"></script>
<script src="@@webRoot/assets/js/select2.js"></script>
<script src="@@webRoot/assets/js/tooltip.js"></script>
<script src="@@webRoot/assets/js/checklist.js"></script>
<script src="@@webRoot/assets/js/wizard.js"></script>
<script src="@@webRoot/assets/js/slider.js"></script>
<!-- endbuild -->
