footer {
    .social-links{
        justify-content: flex-end;
    }
    
    .footer-statement {
        width: 100%;
        max-width: 160px;
    }
    
    .list-info {
        padding-left: 0;
    }
}