.pHome {
    .banner {
        .carousel-indicators {
            bottom: 15%;
        }
        .slide-title {
            margin-bottom: 40px;
        }
    }

    .news {
        padding-top: 2.5rem;
        padding-bottom: 3.7rem;
        .title {
            margin-bottom: 3.2rem;
        }
        .news-fig {
            margin-bottom: 10px;
        }

        .news-type {
            margin-bottom: 1rem;
        }
        .news-title {
            margin-bottom: 1rem;
        }

        .list {
            margin-right: -20px;
            margin-left: -20px;
            margin-bottom: 0.6rem;

            div[class*="col"] {
                padding-right: 20px;
                padding-left: 20px;
                padding-bottom: 20px;
            }
        }
    }
}
